@if $mq-debug {

  :root {
    --mq-debug: true;
    @each $screen, $size in $mq-breakpoints {
    --mq-#{rename($screen)}: $screen;
    }
  }

  .mq-container {
    background: rgba(black, 0.5);
    text-align: center;
    //pointer-events: none;
    position: fixed;
    font-size: 16px;
    top: 1em;
    right: 1em;
    font-family: monospace;
    z-index: 9999;
    padding: 1em .75em;
    font-weight: normal;
    max-height: calc(100vh - 2em);
    overflow: auto;
    box-sizing: border-box;
  }

  .mq-ratio-models {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: .5rem;
    font-size: 0;
    // position: fixed;
    // top: 1rem;
    pointer-events: none;

  }
  
  .mq-rules {

    font-size: 1em;
    display: block;
    color: white;
    line-height: 1;
    pointer-events: none;

    & > div {
      margin-bottom: .25em;
    }
  }

  .mq-ratio-model {
    font-size: 0.25px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 25em;
    opacity: 0.25;
    
  }

  .mq-portrait-ratio {
    @extend .mq-ratio-model;
    $size: 100em;
    width: #{($mq-portrait-ratio * $size)};
    height: $size;
    background-color: black;
    @include mq('portrait') {
      opacity: 1;
    }
  }

  .mq-square-ratio {
    @extend .mq-ratio-model;
    $size: 100em;
    width: $size;
    height: $size;
    background-color: black;
    position: relative;
    @include mq('square') {
      opacity: 1;
    }
  }

  .mq-landscape-ratio {
    @extend .mq-ratio-model;
    $size: 100em;
    width: #{($mq-landscape-ratio * $size)};
    height: $size;
    background-color: black;
    @include mq('landscape') {
      opacity: 1;
    }
  }

  @each $screen, $size in $mq-breakpoints {
  
    .--mq-#{rename($screen)}::after {
      @include mq($screen) {

        @if (str-index($screen, 'width') or str-index($screen, 'height')) {
          @if (str-index($screen, '>') or str-index($screen, '<')) {
            opacity: .5;
          }
        }
        
        content: "#{$screen}";
      }
    }
  }

  body {
    @include mq("retina and portrait and width>small") {
      background-color: red;
    }
    
  }

}

