@if $mq-debug {

  :root {
    --mq-debug: true;
    @each $screen, $size in $mq-breakpoints {
    --mq-#{rename($screen)}: true;
    }
  }

  .mq-container {
    background: rgba(black, 0.5);
    text-align: center;
    pointer-events: none;
    position: fixed;
    font-size: 16px;
    top: 1em;
    right: 1em;
    font-family: monospace;
    z-index: 9999;
    padding: 1em .75em;
    font-weight: normal;
  }

  .mq-ratio-models {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
    font-size: 0;
    // position: fixed;
    // top: 1rem;
    // pointer-events: none;
  }

  
  .mq-rules {

    font-size: 1em;
    display: block;
    color: white;
    line-height: 1;

    & > div {
      margin-bottom: .25em;
    }
  }

  .mq-ratio-model {
    font-size: 0.25px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 25em;
    opacity: 0.25;
    
  }





  .mq-portrait-ratio {
    @extend .mq-ratio-model;
    $size: 100em;
    width: #{($portrait-ratio * $size)};
    height: $size;
    background-color: black;
    @include mq('portrait') {
      opacity: 1;
    }
  }
  .mq-square-ratio {
    @extend .mq-ratio-model;
    $size: 100em;
    width: $size;
    height: $size;
    background-color: black;
    position: relative;
    @include mq('square') {
      opacity: 1;
    }
  }
  .mq-landscape-ratio {
    @extend .mq-ratio-model;
    $size: 100em;
    width: #{($landscape-ratio * $size)};
    height: $size;
    background-color: black;
    @include mq('landscape') {
      opacity: 1;
    }
  }


  @each $screen, $size in $mq-breakpoints {
    .--mq-#{rename($screen)}::after {
      @include mq($screen) {
        content: "#{$screen}";
      }
    }
  }



}



// @each $screen, $size in $mq-breakpoints {
  
//   // Getting current index value.
//   $i: index(($mq-breakpoints), ($screen $size));
//   // Setting "min-width" value based on "previous iteration value" + 1
//   $minWidth: if($i - 1 > 0 , nth(map-values($mq-breakpoints), $i - 1), "min-width: 1px");

//   @media #{$size} {
//     // Debug message.
//     // Shows your current "screen size" on the top right corner.
//     @if $mq-debug {
//       body:before {
        
//        content: "#{$screen} screen";
      
//       }
//     }
//   }
// }


  // body:before {
  //   display: block;
  //   position: fixed;
  //   top: 0;
  //   right: 0;
    
  //   padding: .3em .7em;
  //   background: red;
  //   color: white;
  //   font-size: 1rem;
  //   line-height: 1;
  //   z-index: 9999;
  // }