$mq-debug: false !default;
$mq-enable-ratio-breakpoints: true !default;
$mq-enable-width-breakpoints: true !default;
$mq-enable-height-breakpoints: false !default;
$mq-enable-retina-breakpoints: true !default;


// 4:3 = 1024 x 768
$mq-landscape-ratio-width: 4 !default;
$mq-landscape-ratio-height: 3 !default;
$mq-landscape-max-ratio: "1000/1" !default;

// 4:5 = 1024 x 1280
$mq-portrait-ratio-width: 4 !default;
$mq-portrait-ratio-height: 5 !default;
$mq-portrait-max-ratio: "1/1000" !default;

// Info: They are converted to em!
// Breakpoints logic:
// if xsmall is 320px, that's means xsmall will break at 320px, so xsmal = 0px > 319px
// if small is 568px, that means small will start at 320px and break at 568px, so small = 320px > 567px 
$x-breakpoints: (
    xsmall: 320px,
    small: 568px,
    medium: 960px, 
    large: 1280px,
    xlarge: 1920px
) !default;

$y-breakpoints: $x-breakpoints !default;

$mq-2x-breakpoints: ("(min-device-pixel-ratio: 2)", "(min-resolution: 192dpi)", "(min-resolution: 2dppx)");
